body{
    background-image: url(Parchment.jpg);
    background-repeat: repeat;
}
#sep{
    background-color: black;
    width: auto;
    height: 1px;
}

.intro{
    width: 90%;
    float: left;
}

.contact{
    color: grey;
    font-style: italic;
}

a:hover.contact{
    color: red;
}


#profilePic{
    width:10%;
    height: 200px;
    position: fixed;
    top: 0px;
    right: 0px;
}

#profilePic img{
    width:100%;
    height: 70%;
}

.topic{
    float: left;
    width:20%;
    padding-left: 400px;
}

.divider{
    float: left;
    background-color: black;
    width:0.1%;
    height: 250px;
}

.details{
    float: left;
    width:20%;
    padding-left:10px;  
}

span.bold{
    font-weight: bold;
}

@font-face {
    font-family: writeFont;
    src: url(Cyrodiil.otf);
}

*{
    font-family: writeFont;
}

#link{
    position: fixed;
    bottom: 0;
    right: 0;
}